<pre>{{learningMaterialInsertReqDto.value | json}}</pre>
<div class="container mt-3 mt-md-4">
    <a class="btn btn-secondary mb-4" routerLink="/myclass/{{class}}/learning/detail/{{learning}}">GO BACK</a>
    <h1>Create Learning Material Form</h1>
    <form [formGroup]="learningMaterialInsertReqDto" (ngSubmit)="onCreate()">
        <div class="row align-items-center">
            <div class="col-12 col-md-2 gy-md-3 mt-3">
                <label for="exampleFormControlInput1" class="form-label">Material Name <span
                        class="text-danger">*</span></label>
            </div>
            <div class="col-12 col-md-10 gy-md-3">
                <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="materialName">
            </div>
            <div class="col-12 col-md-2 gy-md-3 mt-3">
                <label for="exampleFormControlInput2" class="form-label">Material Text</label>
            </div>
            <div class="col-12 col-md-10 gy-md-3">
                <div class="form-floating">
                    <textarea class="form-control" id="exampleFormControlInput2" rows="5"
                        style="height: 100%" formControlName="materialText"></textarea>
                </div>
            </div>
            <div class="col-12 col-md-2 gy-md-3 mt-3">
                <label for="exampleFormControlInput3" class="form-label">Material Files</label>
            </div>
            <div class="col-12 col-md-10 gy-md-3">
                <input class="form-control" type="file" id="exampleFormControlInput3" multiple (change)="fileUpload($event)">
            </div>

            <div class="col-12 mb-4">
                <div class="d-grid gap-2 d-block d-md-block mt-4">
                    <button class="btn btn-danger me-2" type="reset">Reset</button>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>