<!-- <pre>{{learning |json}}</pre> -->
<div class="container mt-3 mt-md-4">
    <a class="btn btn-secondary mb-4" routerLink="/myclass/{{class}}/learning">GO BACK</a>
    <h1>{{ learning?.learningTopic }}</h1>
    <h5 class="mb-4">Date : {{ learning?.learningDate }}</h5>
    <hr>
    <div class="d-flex justify-content-between">
        <h5>Attendance</h5>
        <div>
            <a class="btn btn-primary mb-4" data-bs-toggle="modal" data-bs-target="#exampleModal1" *ngIf="isStudent">SET
                ATTENDANCE</a>
            <a class="btn btn-info mb-4" routerLink="/myclass/{{class}}/learning/detail/{{id}}/attendance"
                *ngIf="isLecturer">VIEW</a>
        </div>
    </div>

    <hr>
    <div class="d-flex justify-content-between">
        <h5>Forum</h5>
        <div>
            <a class="btn btn-primary mb-4" data-bs-toggle="modal" data-bs-target="#exampleModal3"
                *ngIf="isLecturer" (click)="onClick()">CREATE FORUM</a>
            <a class="btn btn-info mb-4 ms-2"
                routerLink="/myclass/{{class}}/learning/detail/{{id}}/forum/{{forumId}}">VIEW</a>
        </div>
    </div>

    <hr>
    <section>
        <div class="d-flex justify-content-between">
            <h5>Material</h5>
            <div>
                <a class="btn btn-primary mb-4" routerLink="/myclass/{{class}}/learning/detail/{{id}}/material/new"
                    *ngIf="isLecturer">CREATE
                    MATERIAL</a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table caption-top table-borderless">
                <thead>
                    <tr>
                        <th scope="col">Code</th>
                        <th scope="col">Material Name</th>
                        <th class="text-end" scope="col">Option</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let m of materials; let i=index;">
                        <td>{{m.materialCode}}</td>
                        <td>{{m.materialName}}</td>
                        <td class="text-end">
                            <a class="btn btn-info mt-1 mt-md-0 ms-2"
                                routerLink="/myclass/{{class}}/learning/detail/{{id}}/material/{{ m.id }}">VIEW</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <hr>
    <div class="d-flex justify-content-between">
        <h5>Task</h5>
        <div>
            <a class="btn btn-primary mb-4" routerLink="/myclass/{{class}}/learning/detail/{{id}}/task/new"
                *ngIf="isLecturer">CREATE TASK</a>
        </div>
    </div>

    <section>
        <div class="table-responsive">
            <table class="table caption-top table-borderless">
                <thead>
                    <tr>
                        <th scope="col">Code</th>
                        <th scope="col">Start DateTime</th>
                        <th scope="col">End DateTime</th>
                        <th class="text-end" scope="col">Option</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let t of tasks;">
                        <td>{{ t.taskCode }}</td>
                        <td>{{ t.startDateTime }}</td>
                        <td>{{ t.endDateTime }}</td>
                        <td class="text-end">
                            <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal4"
                                *ngIf="isLecturer">REMOVE</a>
                            <a class="btn btn-secondary mt-1 mt-md-0 ms-2" routerLink="/learning-task/update/TSK-001"
                                *ngIf="isLecturer">UPDATE</a>
                            <a class="btn btn-info mt-1 mt-md-0 ms-2"
                                routerLink="/myclass/{{class}}/learning/detail/{{id}}/task/{{t.id}}">VIEW</a>
                            <a class="btn btn-primary mt-1 mt-md-0 ms-2" routerLink="/answer/TSK-001"
                                *ngIf="isLecturer">REVIEW</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

</div>

<!-- Remove Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Removing Learning</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                This action will delete data. Are you sure?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <form>
                    <button type="submit" class="btn btn-danger">Yes</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Set Attendance Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Set Attendance Learning</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <pre>{{ attendanceInsertReqDto.value | json }}</pre>
                By pressing submit your attendance will be taken. CLICK Submit to proceed & wait for teacher
                approval!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a type="submit" class="btn btn-primary" (click)="onAttend()" data-bs-dismiss="modal">Submit</a>
            </div>
        </div>
    </div>
</div>

<!-- Create Forum Modal -->
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Create Forum</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <pre>{{ forumInsertReqDto.value | json}}</pre>
                <form [formGroup]="forumInsertReqDto" (ngSubmit)="onCreateForum()">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-4">
                            <label for="exampleFormControlInput1" class="form-label">Forum Title <span
                                    class="text-danger">*</span></label>
                        </div>
                        <div class="col-12 col-md-8">
                            <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="forumTitle">
                        </div>
                        <div class="col-12 col-md-4">
                            <label for="exampleFormControlInput1" class="form-label">Description <span
                                    class="text-danger">*</span></label>
                        </div>
                        <div class="col-12 col-md-8 gy-md-3">
                            <div class="form-floating">
                                <textarea class="form-control" id="floatingTextarea" rows="5"
                                    style="height: 100%;" formControlName="forumDescription"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="text-end mt-2">
                        <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Remove Task Modal -->
<div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Removing Task</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                This action will delete data. Are you sure?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <form>
                    <button type="submit" class="btn btn-danger">Yes</button>
                </form>
            </div>
        </div>
    </div>
</div>