<div class="container mt-3 mt-md-4">
    <h1>Change Password</h1>
    <form>
        <div class="row align-items-center">
            <div class="col-12 col-md-2 gy-md-3 mt-3">
                <label for="exampleFormControlInput1" class="form-label">Current Password <span
                        class="text-danger">*</span></label>
            </div>
            <div class="col-12 col-md-10 gy-md-3">
                <input type="password" class="form-control" id="exampleFormControlInput1">
            </div>

            <div class="col-12 col-md-2 gy-md-3 mt-3">
                <label for="exampleFormControlInput2" class="form-label">New Password <span
                        class="text-danger">*</span></label>
            </div>
            <div class="col-12 col-md-10 gy-md-3">
                <input type="password" class="form-control" id="exampleFormControlInput2">
            </div>

            <div class="col-12 col-md-2 gy-md-3 mt-3">
                <label for="exampleFormControlInput3" class="form-label">Re-enter Password <span
                        class="text-danger">*</span></label>
            </div>
            <div class="col-12 col-md-10 gy-md-3">
                <input type="password" class="form-control" id="exampleFormControlInput3">
            </div>

            <div class="col-12 mb-4">
                <div class="d-grid gap-2 d-block d-md-block mt-4">
                    <button class="btn btn-danger me-2" type="reset">Reset</button>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>