<div class="container mt-3 mt-md-4">
    <a class="btn btn-secondary mb-4" routerLink="/class">GO BACK</a>
    <h1>Update Class Form</h1>
    <form>
        <div class="row align-items-center">
            <div class="col-12 col-md-2 gy-md-3 mt-3">
                <label for="exampleFormControlInput1" class="form-label">Class Name <span
                        class="text-danger">*</span></label>
            </div>
            <div class="col-12 col-md-10 gy-md-3">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Andrew Maruli">
            </div>
            <div class="col-12 col-md-2 gy-md-3 mt-3">
                <label for="exampleFormControlInput3" class="form-label">Class Picture <span
                        class="text-danger">*</span></label>
            </div>
            <div class="col-12 col-md-10 gy-md-3">
                <input class="form-control" type="file" id="exampleFormControlInput3">
            </div>
            <div class="col-12 col-md-2 gy-md-3 mt-3">
                <label for="exampleFormControlInput6" class="form-label">Teacher <span
                        class="text-danger">*</span></label>
            </div>
            <div class="col-12 col-md-10 gy-md-3">
                <select class="form-select" aria-label="Default select example" id="exampleFormControlInput6">
                    <option selected disabled>Choose Teacher</option>
                    <option value="1">Andrew Maruli</option>
                    <option value="2">Laras Anggun</option>
                    <option value="3">Robin Wijaya</option>
                    <option value="4">Mario Smith</option>
                    <option value="5">Agus Susanto</option>
                </select>
            </div>
            <div class="col-12 mb-4">
                <div class="d-grid gap-2 d-block d-md-block mt-4">
                    <a class="btn btn-danger" type="reset">Reset</a>
                    <button class="btn btn-primary" type="submit">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>